body {
	background: url("battle/background.png"), #23003A;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat-x;
	text-align: center;
}

#topimage {
	margin-bottom: -12px;
	margin-top: 6em;
}

.bodycontent {
	display: inline-block;
	border-radius: 20px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	color: rgb(19, 19, 19);
	background-color: #C7FFFB80;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	padding: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	width: calc(100% - 4em);
	max-width: 800px;
	position: relative; 
	margin:1em;
	z-index: 0;

	margin: 0em 0em 2em 0em;
	padding: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	content: "";
}

.notecontent {
	display: inline-block;
	border-radius: 12px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	color: rgb(19, 19, 19);
	background-color: #C7FFFB80;
	font-size: 16px;
	text-align: center;
	padding: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	max-width: 800px;
	position: relative;
	z-index: 0;

	margin: 0em 0em 3em 0em;
	padding: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}