body {
	background: #23003A;
	text-align: center;
}

.bodycontent {
	background-color: #C7FFFBA0;

	display: inline-block;
	position: relative;
	border-radius: 0.25em;
	margin: 0.5em 0.25em;
	padding: 1em;

	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}